@use "base";

.home {
  flex: 1;
  display: flex;
  gap: 3rem;
  align-items: center;
  padding-bottom: 20vh;
}

.home-heading {
  color: white;
  font-size: 2rem;
}

.home-img {
  object-fit: fill;
  width: 500px;
  height: 500px;
}
